body {
  background-color: #f5f7fa;
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  background-color: #fff;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.bio,
.jobs,
.education {
  margin-bottom: 60px;
}

.right-side {
  width: 830px;
  padding-left: 80px;
  padding-right: 200px;
  padding-top: 68px;
  padding-bottom: 68px;
}

.bio-title {
  font-size: 56px;
  line-height: 2;
  margin-bottom: 20px;
}

.bio-occupation {
  margin-bottom: 27px;
}

.bio-title,
.bio-occupation {
  color: #2a2a2a;
}

.bio-occupation,
.bio-about {
  font-size: 15px;
  line-height: 1.714;
  text-align: justify;
}

.bio-about {
  color: #595959;
}


.jobs-title,
.education-title {
  color: #2a2a2a;
  font-size: 22px;
  line-height: 1.091;
}

.jobs-occupation,
.education-degree {
  color: #2a2a2a;
  font-size: 16px;
  line-height: 2;
  
}

.jobs-time,
.education-time {
  color: #828282;
  font-size: 11px;
  line-height: 2;

}

.experience-item {
  color: #595959;
  font-size: 14px;
  line-height: 1.714;
}

.accent,
.subject {
  color: #ff6b08;
}

.subject{
  font-style: italic;
}

/* ========= left-side ========= */

.left-side {
  width: 370px;
  background-color: #1e2939;
  color: #fff;
}

.skills-title,
.certificat-title {
  font-size: 22px;
  line-height: 1.091;
}

.skills-item,
.certificat-item {
  font-size: 16px;
  line-height: 1.714;
}

.skills-list,
.certificat-list {
  list-style: none;
  padding-left: 0;
}

.skills-item::before,
.certificat-item::before {
  content: "\2022";
  margin-right: 8px;
  color: #ff6b08;
  font-size: 18px;
}

.certificat-brand {
  padding-left: 15px;
  font-size: 12px;
  line-height: 0.01;
}

.certificate-link {
  text-decoration: none;
  color: #fff;
}

.certificate-link:hover {
  color: #4f7eff;
}

.certificate-link:hover::after {
  color: #4f7eff;
  text-decoration: none;
}


.photo {
  width: 370px;
}

.photo,
.contacts,
.skills,
.certificat {
  margin-bottom: 60px;
}

.contacts,
.skills,
.certificat{
  padding-left: 40px;
}

.contacts-title,
.skills-title, 
.certificat-title {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-list {
  list-style: none;
  padding-left: 0;
}

.contacts-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.contacts-link {
  opacity: 0.6;
  color: #ffffff;
  text-decoration: none;
}

.contacts-link:hover {
  opacity: 1;
  text-decoration: underline;
}

.fab {
  font-size: 45px;
  padding: 10px 15px 0 0;
}

.fa-linkedin:hover {
  opacity: 1;
  color: #0077b5;
}

.fa-facebook-square:hover{
  opacity: 1;
  color: 	#4267B2;
}

.fa-github:hover {
  color: #6e5494;
}
